.gameContainer{
    background: linear-gradient(to right, #141e30, #243b55);
}

.bar {
    display: inline-block;
    position: relative;
    width: 19vw;
    height: 5vh;
    border-radius: 4px;
}

.computerArea{
    height: fit-content;
}

.playerBar{
    height: fit-content;
}

#ballArea{
    height: 90%;
}

#computerBar {
    background-color: red;
    left: 0vw;
}

#playerBar {
    background-color: #e2e2e6;
    left: 0vw;
}

#ball{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: beige;
    border-radius: 100%;
    position: relative;
    top: 1px;
    left: 1vw;
}